<footer>
    <div class="footer-main">
        <div class="logo">
            <a href="/">
                <img src="{{ .Site.Params.LogoSrc }}" alt="Fabulous" />
            </a>
        </div>
        <div class="footer-links">
            <ul>
                <li>About Fabulous</li>
                <li><a href="https://blog.fabulous.dev">News</a></li>
                <li><a href="/support">Developer Support</a></li>
                <li><a href="/contact">Contact us</a></li>
            </ul>
            <ul>
                <li>Learn Fabulous</li>
                <li><a href="https://blog.fabulous.dev">News</a></li>
                <li><a href="/support">Developer Support</a></li>
                <li><a href="/contact">Contact us</a></li>
            </ul>
        </div>
    </div>
</footer>