<meta charset="utf-8"/>
<link rel="icon" href="https://raw.githubusercontent.com/fabulous-dev/Fabulous/v2.1/logo/nuget-icon.png" />
<link rel="apple-touch-icon" href="https://raw.githubusercontent.com/fabulous-dev/Fabulous/v2.1/logo/nuget-icon.png" />
<title>{{ .Site.Title }}</title>
<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta name="description" content="{{ .Site.Params.Description }}" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@FabulousAppDev" />
<meta property="og:title" content="{{ .Site.Title }}" />
<meta property="og:url" content="{{ .Site.BaseURL }}" />
<meta property="og:description" content="{{ .Site.Params.Description }}" />
<meta property="og:image" content="https://raw.githubusercontent.com/fabulous-dev/Fabulous/v2.1/logo/logo-title.png" />