<header>
    <div class="logo-container">
        <div class="logo">
            <a href="/">
                <img src="{{ .Site.Params.LogoSrc }}" alt="Fabulous" />
            </a>
        </div>

        <div class="tray">
            <nav role="navigation">
                <ul>
                    <li>Development</li>
                    <li>Community</li>
                    <li>Showcase</li>
                    <li>Docs</li>
                </ul>
            </nav>
            <a class="button" href="{{ .Site.Params.GetStartedLink }}">Get started</a>
            <a class="button" href="{{ .Site.Params.GitHubLink }}">GitHub</a>
        </div>
    </div>
</header>