$primary-color-1: #1F1F2D;
$secondary-color-1: #8AB7FF;
$secondary-color-2: #CED8EA;
$secondary-color-3: #2D2D41;
$foreground-color: white;
$shadow-color: #CED8EA50;


$page-background-color: $primary-color-1;
$page-text-color: $foreground-color;

$link-hover-text-color: $secondary-color-1;

$h3-text-color: $secondary-color-1;

$button-background-color: $secondary-color-1;
$button-text-color: $primary-color-1;

$outlined-button-background-color: $primary-color-1;
$outlined-button-text-color: $secondary-color-1;
$outlined-button-border-color: $secondary-color-1;

$callout-background-color: $secondary-color-3;

$emphasis-text-color: $secondary-color-1;