@import 'colors', 'fonts';

@mixin padding-page {
    padding-left: 16px;
    padding-right: 16px;
}

* {
    @include font-caption;
    padding: 0px;
    margin: 0px;
}

body {
    position: relative;
    //@include background-page;
    background-color: $primary-color;
    color: $full-white;
    background-repeat: no-repeat;
    //overflow-y: hidden;
}

h1 {
    @include font-header4;
}

h2 {
    @include font-header5;
}

h3 {
    @include font-header4;
}

a {
    color: $full-white;
    font-weight: $semibold;

    &:hover {
        color: $secondary-color-1;
    }

    &.button {
        display: flex;
        width: 160px;
        height: 50px;
        background: $secondary-color-1;
        color: $primary-color;
        justify-content: center;
        align-items: center;
        @include font-button;
        text-decoration: none;
        border-radius: 8px;
    
        &.outlined {
            background-color: transparent;
            border: 1px solid $secondary-color-1;
            color: $secondary-color-1;
        }

        &:hover {
            filter: drop-shadow(2px 2px 10px $shadow-color);
        }
    }
}

.spotlights {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .spotlight {
        position: absolute;
        border-radius: 9999px;
        z-index: -1;
    }

    #spotlight-top {
        top: -85px;
        right: -156px;
        width: 200px;
        height: 300px;
        filter: blur(72px);
        background-color: #9185E6CC;
    }

    #spotlight-bottom {
        bottom: -240px;
        width: 360px;
        height: 360px;
        filter: blur(65px);
        background-color: #8AB7FF;
    }
}

header {
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @include padding-page;
    padding-top: 30px;

    .left-menu {
        display: flex;
        flex-direction: row;

        .logo {
            a {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 10px;
                @include font-fabulous;
                text-decoration: none;
    
                img {
                    height: 40px;
                    width: 40px;
                    object-fit: contain;
                }
            }
        }

        .menu {
            display: none;
        }
    }

    .right-menu {
        display: flex;
        flex-direction: row;
        align-items: center;

        .menu-icon {
            color: $secondary-color-1;
            font-size: 24px;
        }

        .menu {
            display: none;
        }
    }
}

main {
    display: flex;
    flex-direction: column;

    .hero {
        display: flex;
        flex-direction: row;
        justify-content: center;
        @include padding-page;
        padding-top: 48px;

        .hero-container {
            display: flex;
            flex-direction: column-reverse;
            gap: 36px;

            .hero-description {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 16px;
                text-align: center;

                .button {
                    margin-top: 20px;
                }
            }
    
            .hero-image {
                width: 320px;
                height: 255px;
                object-fit: contain;
                align-self: center;
            }
        }
    }

    .body {
        display: flex;
        flex-direction: column;
        margin-top: 108px;
        margin-bottom: 108px;
        gap: 88px;

        .content {
            display: flex;
            flex-direction: row;
            justify-content: center;
            @include padding-page;
        
            .content-container {
                display: flex;
                flex-direction: column;
                gap: 36px;
                max-width: 1000px;

                .content-description {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    hgroup {
                        display: flex;
                        flex-direction: column;
                        gap: 8px;

                        h2 {
                            color: $secondary-color-1;
                        }
                    }
                }

                .content-image {
                    width: 264px;
                    height: 264px;
                    align-self: center;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }
            }

            &#declarative-ui {
                .content-image {
                    width: 261px;
                    height: 264px;
                }
            }

            &#mvu {
                .content-image {
                    width: 270px;
                    height: 108px;
                }
            }

            &#functional-programming {
                .content-image {
                    width: 191px;
                    height: 188px;
                }
            }

            &#dotnet {
                .content-image {
                    width: 194px;
                    height: 177px;
                }
            }
        }

        .community {
            display: flex;
            flex-direction: row;
            justify-content: center;

            .community-container {
                display: flex;
                flex-direction: column;
                gap: 88px
            }
        }

        .callout {
            display: flex;
            flex-direction: row;
            @include padding-page;
            justify-content: center;
        
            div {
                display: flex;
                flex-direction: column;
                gap: 12px;
                padding: 30px;
                background-color: $secondary-color-3;
                border-radius: 18px;

                &:hover {
                    filter: drop-shadow(4px 4px 30px $shadow-color);
                }

                h2 {
                    text-align: center;
                }

                ul {
                    display: flex;
                    flex-direction: row;
                    list-style: none;
                    justify-content: space-between;

                    li {
                        a {
                            display: flex;
                            flex-direction: column;
                            text-decoration: none;
                            align-items: center;
                            gap: 8px;

                            p {
                                font: $medium 10px /1.4 $poppins;
                            }
                        
                            img {
                                height: 48px;
                                width: 48px;
                                object-fit: contain;
                            }
                        } 
                    }
                }
            }
        }
    }

    .get-started {
        display: flex;
        flex-direction: row;
        justify-content: center;
        @include padding-page;
        margin-bottom: 108px;

        div {
            display: flex;
            flex-direction: column;
            gap: 32px;

            h3 {
                text-align: center;

                i {
                    @include font-header3;
                    color: $secondary-color-1;
                }
            }

            .actions {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 24px;
            }
        }
    }
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    @include padding-page;
    padding-bottom: 30px;

    .footer-social {
        ul {
            display: flex;
            flex-direction: row;
            gap: 24px;
            list-style: none;

            font-size: 1.5em;
        }
    }
}