{{ define "main" }}
    <section class="hero">
        <h1>Declarative framework for multi-platform apps with .NET</h1>
        <h2>Fabulous aims to bring you a great development experience and confidence in your code by combining an expressive UI syntax, the simple & robust Model-View-Update (MVU) architecture, and functional programming.</h2>
    </section>
    <section class="content-container">
        <section class="declarative-ui">Declarative UI</section>
        <section class="mvu">MVU architecture</section>
        <section class="dotnet">Powered by .NET</section>
    </section>
{{ end }}